#define IDD_DIALOG 1000
#define IDC_RAE1 1001
#define IDC_SBR1 1002
#define IDR_MENU 10000
#define IDM_FILE_NEW 10004
#define IDM_FILE_OPEN 10002
#define IDM_FILE_SAVE 10003
#define IDM_REGFT 10006
#define IDM_ 10007
#define IDM_FILE_EXIT 10001
#define IDM_COMPILENRUN 10005
#define IDM_HELP_ABOUT 10101

IDD_DIALOG DIALOGEX -48,8910,297,190
CAPTION "JumbEdit  IDE For Jumb [JaDogg]"
FONT 8,"MS Sans Serif",0,0,0
CLASS "DLGCLASS"
MENU IDR_MENU
STYLE 0x16CF0800
BEGIN
  CONTROL "",IDC_RAE1,"RAEdit",0x50003000,6,9,297,159
  CONTROL "",IDC_SBR1,"msctls_statusbar32",0x50000103,0,177,54,15
END

IDR_MENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&New",IDM_FILE_NEW
    MENUITEM "&Open",IDM_FILE_OPEN
    MENUITEM "&Save",IDM_FILE_SAVE
    MENUITEM SEPARATOR
    MENUITEM "Register File Types",IDM_REGFT
    MENUITEM SEPARATOR
    MENUITEM "&Exit",IDM_FILE_EXIT
  END
  POPUP "&Compile"
  BEGIN
    MENUITEM "Compile n Run",IDM_COMPILENRUN
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END

100 ICON DISCARDABLE "C.ico"
101 ICON DISCARDABLE "D.ico"

